---
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/widget/Nav.astro';
import Foot from '../components/widget/Foot.astro';
import BlogPost from '../components/BlogPost.astro';

const {title, description, publishDate, cover, permalink} = Astro.props;
---
<html lang="en">
<head>
    <BaseHead {title} {description} {permalink}/>
</head>
<Nav/>
<body class="astronot">
<div class="wrapper">
    <BlogPost {title} {cover} {description} {publishDate}>
        <slot/>
    </BlogPost>
</div>
<Foot/>

