---
import './hero.css';
import Boton from '../atoms/Boton.astro';
import {getInfo} from '../../api/info.ts';
import {Info} from "../../api/info";

let info;

try {
    info = await getInfo(Astro)
} catch (err) {
    return new Response(null, {
        status: 302,
        headers: {Location: '/error'},
    });
}
---

<section class="hero">

    <div class="hero__container">
        <div class="text__content">
            <h1 class="hero__title color__gradiente">Duansg</h1>
            <p class="hero__text">
                {info.introduction}
            </p>
            <Boton href="/blog" texto="Learn more"/>
        </div>
        <img
                class="hero__img"
                src={info.img}
                alt={info.name}
                width="384"
                height="384"
        />
    </div>
</section>
