---
import './header.css';
import {getMenu} from '../../api/menu.ts';
import {getInfo} from '../../api/info.ts';

const {origin} = Astro.props;
import Logo from '../Logo.astro';

let menuArray = [];
let info;

try {
    menuArray = await getMenu(Astro);
    info = await getInfo(Astro)
} catch (err) {
    return new Response(null, {
        status: 302,
        headers: {Location: '/error'},
    });
}
---

<header class="header">
    <div class="header__container">
        <Logo info={info}/>
        <nav class="links" tabindex="0.1">
            <button class="menu__btn">Menú</button>
            <ul class="header__list">
                {
                    menuArray.map((data) => (
                            <li>
                                <a class="menu__link" href={data.link}>
								<span class="icon__container">
									<iconify-icon
                                            class="icons"
                                            icon={data.icon}
                                            width="20"
                                            height="20"
                                    />
                                    {data.content}
								</span>
                                </a>
                            </li>
                    ))
                }
            </ul>
        </nav>
    </div>
</header>
